@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1200px;
    padding: 0 20px;
    
}
.container2{
    max-width: 1200px; 
    padding: 100px 20px;  
}

.btnt {
	color: #fff;
	padding: 13px 25px;
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 500;
	background: #1A76D1;
	position: relative;
	box-shadow: none;
	display: inline-block;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	border: none;
	border-radius: 0;
	border-radius:4px;
}
.btnt:hover{
	color:#fff;
}
.btnt:before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #2C2D3F;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
	border-radius:4px;
}
.btnt:hover:before{
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
/*  */

.btns {
	color: #fff;
	padding: 13px 25px;
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 500;
	background: #2C2D3F;
	position: relative;
	box-shadow: none;
	display: inline-block;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	border: none;
	border-radius: 0;
	border-radius:4px;
}
.btns:hover{
	color:#fff;
}
.btns:before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #1A76D1;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
	border-radius:4px;
}
.btns:hover:before{
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* scrollig button  */
.scroll{
	position: fixed;
	padding: 2px 2px;
	border-radius: 4px ;
	bottom: 10px;
	box-shadow: 0px 0px 1px 1px gray;
	right: 20px;
	background-color: #1A75D1;
	color: #fff;
	text-align: center;
}
.scroll:hover{
	background-color: black;
	transition: .5s ease-in-out;
}
