.list-hover {
    text-decoration: none;
    color: #2C2D3F;
    position: relative;
    transition: all 0.4s ease;
    bottom: 0;
  }

  .list-hover::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #1A76D1;
    bottom:-10;
    left: 0;
    top: 40px;
    transition: all 0.4s ease;
  }

  .list-hover:hover::before {
    color: #1A76D1 ;
    width: 100%;
    left: 0;
    bottom: -10px;
  }